@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100); 
}
